SECRET_KEY=secretkeystringmadeofofabunchofstuff
DEBUG=True

# POSTGRES DB
POSTGRES_USER=''
POSTGRES_PWD=''
POSTGRES_HOST=''
POSTGRES_NAME=''
POSTGRES_PORT=''

# MONGO DB
MONGODB_USER=''
MONGODB_PWD=''
MONGODB_HOST=''
MONGODB_NAME=''