SECRET_KEY=secretkeystringmadeofofabunchofstuff
DEBUG=True

# POSTGRES DB
POSTGRES_USER='postgres'
POSTGRES_PWD='postgres'
POSTGRES_HOST='localhost'
POSTGRES_NAME='instructorapp'
POSTGRES_PORT=54320

# MONGO DB
MONGODB_USER='root'
MONGODB_PWD='example'
MONGODB_HOST='localhost'
MONGODB_NAME='instructorapp'
MONGODB_PORT=27018
